.header {
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    font-size: 16;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

form {
    margin-top: 40px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

:focus {
    outline: 1px;
}

.form-row {
    margin-bottom: 20px;
}

.form-row label {
    display: block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type=date],
select,
button,
textarea {
    width: 100%;
    border-radius: 5px;
    height: 42px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding-left: 15px;
    padding-right: 15px;
    font-size: inherit; /* bir üst kapsayıcının değerini uygula, onu al */
    font-family: inherit;
    background-color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: rgb(68, 176, 255);
    border-width: 2px;

}

textarea {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 42px;
    max-height: 200px;
    resize: vertical; /*Hangi yönde uzatılaibileceğine karar veriyoruz*/   
}

select {
    -webkit-appearance: none;
    background-image: url("arrow-down-grey.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

.radio-container label {
    display: inline; 
}

.radio-container label + label {
    margin-left: 24px;
}

label[class= "adi"],
label[class= "tarih"],
label[class= "tel"],
label[class= "mail"],
label[class= "mesaj"],
label[class= "sehir"],
p {
    font-weight: 600;
}


button {
    display: inline-block;
    width: auto;
    border: none;
    background-color: #eee;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

button[type="submit"] {
    color: white;
    background-color: rgb(68, 176, 255);
    margin-left: 15px;
}