*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-image: url("homeWorkBack2.jpg");
    background-attachment: fixed;
}

.content { 
    width: 990px;
    margin-left: 100px;
    margin-top: 100px;
    color: #fff;
}
.navbar {
    background-color: #14191e;
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;
    z-index:100;
    padding: 20px;
    height: 50px;
}

h1[class="name"] {
    font-family: Nanum Pen Script;
    font-size: 50px;
    color: #fff;
    text-shadow: 3px 3px #c95959;
}

h1[class="title1"] {
    text-align: center;
    font-size: 50px;
    color: rgb(226, 226, 226);
}

h2[class="title1"] {
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    color: rgb(226, 226, 226);
}

h1.lesson {
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    color: #fff;
}



div.info{
    height: 50px;
    width: 225;
    border: 1px solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 45px;
    font-size: 18px;
    color: #fff;
}

h2.info,
h2.goal,
h2.min-req {
    text-align: center;
    margin: 10px;
}

.desc {
    margin-top: 20px;
    margin-left: 45px;
}
div.goal{
    height: 50px;
    width: 300;
    border: 1px solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 45px;
    font-size: 18px;
    color: #fff;
}

div.end {
    height: 100px;
}

div.min-req {
    height: 50px;
    width: 350px;
    border: 1px solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 45px;
    font-size: 18px;
    color: #fff;
}

div.min-req-list {
    height: 50px;
    width: 500px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 24px;
    color: #fff;
}

button {
    height: 50px;
    width: 300px;
    border-width: 3px;
    border-color: #899aaf;
    background-color: #3d4a5a;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 45px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}