body,head {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("image/back.jpg");
    background-attachment: fixed;
}

h1{
    color: white;
    padding-top: 20px;
    text-shadow: 3px 3px #f86b1a;
    font-size: 50px;
}

.form-row {
    margin-bottom: 10px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type=date],
select,
button,
textarea {
    width: 280px;
    height: 42px;
    font-size: inherit; /* bir üst kapsayıcının değerini uygula, onu al */
    font-family: inherit;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 5px 5px #f86b1a;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: 1px;
    border-color: rgb(255, 81, 0);
    border-width: 3px;
}

label,
h3 {
    color: #fff;
    font-weight: 600;
}

h3 {
    margin-left: 0;
    margin-right: 380px;
}

select {
    -webkit-appearance: none;
    background-image: url("image/arrow-down-grey.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 15px;
}

table.form {
    border-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
}

div.table-container-radio-button,
div.table-container-or {
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    border-radius: 10px;
    box-shadow: 10px 10px #f86b1a;
    color: #fff;
}

table.radio-button,
table.or {
    margin-bottom: 40px;
    background: white;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3); /* this draws the table border  */
}

td.radio-button,
th.radio-button,
td.or,
th.or {
    color: rgb(68, 65, 65);
    border: 1px solid rgba(248, 107, 26, 1);
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
}

td.or,
th.or {
    width: 150;
}

td.radio-button-question,
td.or-question{
    color: #332f2f;
    border-radius: 10px;
    border: 1px solid rgba(248, 107, 26, 1);
    padding: 10px;
    height: 50px;
    width: 450;
    text-align: center;
    font-weight: 600;
}
textarea {
    height: 42;
    width: 580px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 42px;
    max-height: 200px;
    resize: vertical; /*Hangi yönde uzatılaibileceğine karar veriyoruz*/
    margin-bottom: 30px;
}

button {
    display: inline-block;
    width: auto;
    border: none;
    background-color: #eee;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
}

div.end {
    height: 50px;
}